@font-face {
        font-family: "Ping Pong";
        src: url(pingpong.ttf);
}
* {
    font-family: "Ping Pong";
}
body{
    position: relative;
}
#container{
    position: relative;
    border: 5px solid rgba(0,0,0,0.7);
    height: 90vh;
     background: url(./images/bgPic1.jpeg);  
    background-repeat: no-repeat;
    background-size: cover;
    /* top: 100px; */
}
#paddle1{
    left: 0px;
    top: 460px;
    width: 20px;
    position:absolute;
    height:180px;
    background-color:grey;
    /* transition: 100ms; */
}
#paddle2{
    position:absolute;
    left:1395px;
    top:460px;
    width:20px;
    height:180px;
    background-color:grey;
}
#ball{
    position:absolute;
    left:620px;
    top:310px;
    width:40px;
    height:40px;
    background-color:red;
    border-radius:50%; 
}
#win{
    height: 90vh;
    width: 100%;  
    position: absolute;
}
#highScore{
    position: absolute;
    right: 0px;
    bottom: -55px;
}
#reset{
    background-color: black;
    color: white;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.7);
    font-size: 1.2em;
    bottom: -50px;
    left: 40vw;
    width: 85px;
    opacity: .6;
}
#reset:hover{
    /* bottom: -50.5px; */
    /* background-color: blue; */
    /* left: 40.1vw; */
    transition:linear 1s;
    opacity: 1;
    border: none;
}
#start{
    background-color: black;
    color: white;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.7);
    font-size: 1.2em;
    bottom: -50px;
    left: 50vw;
    width: 65px;
    opacity: .6;
}
#start:hover{
    opacity: 1;
    transition: linear 1s;
    border: none;
}
#sign1{
     position: absolute; 
    top: 20px;
    left: 50px;
    height:40px;
    width: 100px;
}
#sign2{
    position: absolute;
    top: 20px;
    right: 50px;
    height:40px;
    width: 100px;
}
.fa{
    color: silver; 
    animation: blink .5s linear infinite;
}
@keyframes blink {
  0% { 
      opacity: 1; 
      color: red;
    }
  50% { 
      opacity: 0;
      color:blue;
    }
}